[*.cs]
indent_style = space
indent_size = 4

# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first                         = true

[*.csproj]
indent_style = space
indent_size = 2
